<% layout('layouts/boilerplate') %>

<div class="container">
    <h1>Edit Item</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <!-- <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div> -->
        <h3>Item Info</h3>
        
        <form class="form-horizontal" role="form" action="/edit/<%= item._id %>/?_method=PUT" method="post">
          <div class="form-group">
            <label class="col-lg-3 control-label">Item name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text"  name="title" value="<%=item.title%>">
            </div>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Price:</label>
            <div class="col-lg-8">
              <input class="form-control" type="number" name="price" value="<%= item.price%>">
            </div>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Description:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="description" value="<%= item.description%>">
            </div>
            <div class="valid-feedback">Looks good!</div>
          </div>

       
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input  type="submit" class="btn btn-primary" value="Save Changes">
              <span></span>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>

<!-- <form action="/edit/<%= item._id %>/?_method=PUT" method="post">
    <input type="text" name="title" value="<%=item.title%>">
    <input type="number" name="price" value="<%= item.price%>">
    <input type="text" name="description" value="<%= item.description%>">
<button type="submit">Update</button>
</form> -->


