<% layout('layouts/boilerplate') %>
<br />
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title"><h2>Sell an Item</h2></div>
        <div class="addItem">
          <form action="/addItem" method="post" enctype="multipart/form-data" novalidate class="validated-form">
            <label for="item_name" class="form-label">Item name</label>
            <input type="text" name="title" placeholder="Item name" id="item_name" class="form-control" required/>
            <div class="valid-feedback">Looks good!</div>
            <label for="price" class="form-label">Price</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">₹</span>
              <input type="number" class="form-control" placeholder="Price" name="price" id="price" required>
              <div class="valid-feedback">Looks good!</div>
            </div>
            <label for="price" class="form-label">Description</label>
            <input type="text" name="description" placeholder="Item Description" id="description" class="form-control" required/>
            <div class="valid-feedback">Looks good!</div>
            
           
              <label for="formFileMultiple" class="form-label">Add Images</label>
              <input class="form-control" name = "image" type="file" id="formFileMultiple" multiple required>
            </div>
            <br />
            <label for="cars">Choose a category:</label>
        
            <select name="category" class="form-select" required>
              <option value="books">Books</option>
              <option value="utility">Utility</option>
              <option value="stationary">Stationary</option>
              <option value="electronic">Electronic</option>

            </select>
        
            <button class="btn btn-outline-success mt-2">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
      <br />
      <br />
      <div class="row d-flex  justify-content-sm-2" >
      
        
        <% found.reverse().forEach(function(item){ %>
          <div class="col-md-3 mb-3">
            <div class="card h-100">
              <!-- <div class="card mb-2"> -->
                <div class="me-auto mx-2">
                  <div class="btn btn-outline-primary btn-sm">
                    <a href="/edit/<%= item._id %>"><i class="fa fa-edit"></i></a>
                  </div>
                  <form action="/delete" method="post" class="btn btn-outline-primary btn-sm">
                    <input type="hidden" name="del" value="<%= item._id %>"/>
                    <a onclick="this.parentNode.submit()"><i class="fa fa-trash-o"></i></a>
                  </form>
                </div>
                <div class="card-body">
                  <h5 class="text card-title">Item: <%= item.title %></h5>
                  <p class="card-text">Price: <%= item.price %></p>
                  <p class="card-footer text-muted">Status: <%= item.status%></p>
                </div>
              </div>
          </div>
           
          <br />
        <% }) %>
      
      </div>
      
      <br />
      <br />

