<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/cart.css" />

<div class="row mt-2">
  <h1 class="title">Your Bag</h1>
</div>
<div class="row mt-2 justify-content-between">
  <div class="top">
    <div class="col-md-4">
      <form action="/">
        <button class="topButton-left" type="submit">Continue Shopping</button>
      </form>
    </div>

    <div class="col-md-4 text-center d-flex justify-content-end">
      <form action="/wishlist">
        <button type="submit" class="topButton-right">WISHLIST</button>
      </form>
    </div>
  </div>
</div>

<div class="row mt-2 mb-2">
  <div class="col-md-8">
    <div class="container-fluid">
      <% for( let item of user.cart ) { %>
      <%if(item.author.status==="Accepted"){%>

      <div class="row mt-2 d-flex">
        <div class="card shadow" style="display: flex; flex-direction: row">
          <div class="col-md-2">
            <% if(item.images.length){ %>
            <img
              class="img-fluid"
              alt=""
              src="<%= item.images[0].url %>"
              style="border-radius: 25%"
            />
            <% } %>
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title"><%= item.title %></h5>
              <p class="card-text"><%= item.price %></p>
              <p class="card-text">
                <small class="text-muted"
                  >Posted by <%= item.author.username %></small
                >
              </p>
              <div style="display:inline-flex ;">
                <form action="/addToWishlist/<%=item._id%>" method="post">
                  <div class="icon">
                    <button class="btn">
                      <i class="fa-solid fa-heart"></i>
                    </button>
                  </div>
                </form>
                <form
                  action="/deleteCart/<%=item._id%>?_method=DELETE"
                  method="post"
                >
                  <div class="icon">
                    <button class="btn">
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                  </div>
                </form>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <% } %> <% } %>
    </div>
  </div>
  <div class="col-md-4 summary">
    <div class="card shadow">
      <div class="card-body">
        <h1 class="summaryTitle">Order Summary</h1>
        <div class="summaryItem">
          <span class="summaryItemText"> Subtotal </span>

          <span class="summaryItemPrice"> </span>
        </div>
        <div class="summaryItem">
          <span class="summaryItemText"> Estimated Shipping </span>
          <span class="summaryItemPrice"> $10 </span>
        </div>
        <div class="summaryItem">
          <span class="summaryItemText"> Shipping Discount </span>
          <span class="summaryItemPrice"> -$6 </span>
        </div>
        <div class="summaryItemTotal">
          <span class="summaryItemText"> Total </span>
          <%var subtotal=0%> <% user.cart.forEach((item,i ) =>{ %>
          <%subtotal+=item.price%> <%})%>
          <span class="summaryItemPrice"> ₹<%= subtotal %> </span>
        </div>
        <button class="checkout">CHECKOUT NOW</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid"> -->
