<% layout('layouts/boilerplate') %>
<br />
<link rel="stylesheet" href="../css/profile.css">

<div class="container">
    <div class="row">
          <div class="col-xs-12 col-sm-9">
            
            <!-- User profile -->
            <div class="panel panel-default">
              <div class="panel-heading">
              <h4 class="panel-title"><em>Seller Profile</em></h4>
            </div>
              
              <div class="panel-body">
                <div class="profile__avatar">
                  <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="...">
                </div>
                <!-- <div class="btn btn-outline-primary btn-sm">
                  <a href="/userDeets" style="color: inherit;"><i class="fa fa-edit"></i></a>
                </div> -->
                <div class="profile__header">
                  <h4><%= usn %></h4>
                  <!-- <div class="btn btn-outline-primary btn-sm style="float: right;">
                    <a href="/userDeets" style="color: inherit;"><i class="fa fa-edit"></i></a>
                  </div> -->
                  <p class="text-muted">
                    <%= user.about %>
                  </p>
                  <p>
                    <a href="#"><%= email %></a>
                  </p>
                </div>
              </div>
            </div>
    
            <!-- User info -->
            <div class="panel panel-default">
              <div class="panel-heading">
              <h4 class="panel-title">User info</h4>
              </div>
              <div class="panel-body">
                <table class="table profile__table">
                  <tbody>
                    <tr>
                      <th><strong>Location</strong></th>
                      <td> <%= user.location %></td>
                    </tr>
                    <tr>
                      <th><strong>College name</strong></th>
                      <td><%= user.college %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
    
            <!-- Community -->
            <!-- <div class="panel panel-default">
              <div class="panel-heading">
              <h4 class="panel-title">Community</h4>
              </div>
              <div class="panel-body">
                <table class="table profile__table">
                  <tbody>
                    <tr>
                      <th><strong>Comments</strong></th>
                      <td>58584</td>
                    </tr>
                    <tr>
                      <th><strong>Member since</strong></th>
                      <td>Jan 01, 2016</td>
                    </tr>
                    <tr>
                      <th><strong>Last login</strong></th>
                      <td>1 day ago</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> -->
    
            <!-- Items on Sale -->
            <br/>
            <div class="panel panel-default">
              <div class="panel-heading">
              <h4 class="panel-title">Listed Items</h4>
              </div>
              <div class="panel-body">
                <div class="profile__comments">
                  <div class="profile-comments__item">
                    <!-- <div class="profile-comments__controls">
                      <a href="#"><i class="fa fa-share-square-o"></i></a>
                      <a href="#"><i class="fa fa-edit"></i></a>
                      <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div> -->
                    <% items.forEach(function(item){ %>
                    <div class="profile-comments__avatar">
                      <%if(item.images.length){%>
                      <img src="<%= item.images[0].url %>" alt="...">
                      <%}%>
                    </div>
                    <div class="profile-comments__body">
                      <div class="profile-comments__controls">
                      </div>
                      <h5 class="profile-comments__sender">
                        <!-- <a href="#"><i class="fa fa-share-square-o"></i></a>
                        <a href="#"><i class="fa fa-edit"></i></a> -->
                        <!-- <a href="/edit"><i class="fa fa-edit"></i></a>
                        <a href="/delete"><i class="fa fa-trash-o"></i></a> -->
                        <!-- <div class="btn btn-outline-primary btn-sm">
                          <a href="/edit/<%= item._id %>" style="color: inherit;"><i class="fa fa-edit"></i></a>
                        </div> -->

                        <!-- <form action="/delete" method="post" class="btn btn-outline-primary btn-sm">
                          <input type="hidden" name="del" value="<%= item._id %>"/>
                          <a onclick="this.parentNode.submit()"><i class="fa fa-trash-o"></i></a>
                       </form> -->

                        <br />
                        <%= item.title %>
                      </h5>
                      <strong>Rs. <%= item.price %></strong> 
                      <div class="profile-comments__content">
                        <%= item.description %>
                        <p class="card-footer text-muted">Status: <%= item.status%></p>
                      </div>
                    </div>
                    <hr />
                    <% }) %>
                  </div>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-xs-12 col-sm-3">
            
            <!-- Contact user -->
    
            <hr class="profile__contact-hr">
            
            <!-- Contact info -->
            <div class="profile__contact-info">
              <!-- <div class="profile__contact-info-item">
                <div class="profile__contact-info-icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="profile__contact-info-body">
                  <h5 class="profile__contact-info-heading">Work number</h5>
                  (000)987-65-43
                </div>
              </div> -->
              <div class="profile__contact-info-item">
                <div class="profile__contact-info-icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="profile__contact-info-body">
                  <h5 class="profile__contact-info-heading">Mobile number</h5>
                  <%= user.phone %>
                </div>
              </div>
              <div class="profile__contact-info-item">
                <div class="profile__contact-info-icon">
                  <i class="fa fa-envelope-square"></i>
                </div>
                <div class="profile__contact-info-body">
                  <h5 class="profile__contact-info-heading">E-mail address</h5>
                  <a href="mailto:<%= email %>"><%= email %></a>
                </div>
              </div>
              <div class="profile__contact-info-item">
                <div class="profile__contact-info-icon">
                  <i class="fa fa-map-marker"></i>
                </div>
                <div class="profile__contact-info-body">
                  <h5 class="profile__contact-info-heading">Location</h5>
                  <%=user.location%>
                </div>
              </div>
            </div>
    
          </div>
        </div>
    </div>
